*{
    padding: 0;
    margin: 0;
}

body{
    background-color: grey;
}

.container{
    width: 50%;
    margin: auto;
    min-height: auto;
    border: solid;
    display: table;
    flex: wrap;
    position: relative;
    top: 15rem;
    padding-top: 10px;
    background-image: radial-gradient(blue,red);
    border: solid 2.5px rgb(0, 0, 0);
    box-shadow: 2px 4px 5px;
    align-items: center;
    text-align: center;
    border-radius: 5px;  
}


h2{
    text-align: center;
    font-size: xx-large;
}

.container label{
    display: table-row;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.container input{
    display: table-row;
    padding: 5px;
    border-radius: 5px;
    height: 1rem;
    text-align: center;
    align-items: center;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
}

#btn1{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightskyblue;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px 5px 10px;
    font-weight: bold;
    margin-right: 10px;
    height: 1 rem;
    
}

#btn2{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightskyblue;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px 5px 10px;
    font-weight: bold;
    margin-left: 10px;
    height: 1 rem;
    width: 3 rem;
}

